/*
 * Globals
 */

html,
body {
  background-color: #F4F4F4;
}
body {
  font-size: 16px;
  font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container-fluid{
  padding: 0;
}

/* Links */
a{
  color: #2196F3;
}
a:focus,
a:hover {
  color: #FF5722;
}

/**
 * top
 */
.top{
  padding: 0;
  background-color: #ffffff;
  border-top: solid 4px #000000;
  border-bottom: solid 1px #DDDDDD;
}
.author{
  padding-top: 10px;
  padding-bottom: 10px;
}
.author-word{
  padding: 20px 0 20px 0;
}
.author-name, .author-desc{
  margin-top: 5px;
}
.nav-item{
  margin-right: 15px;
}
.navbar{
  border-top: solid 1px #DDDDDD;
}

/**
 * footer
 */
.footer{
  background-color: #607D8B;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
