/*
 * Globals
 */
html,
body {
  background-color: #F4F4F4;
}
body {
  font-size: 14px;
  font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container-fluid{
  padding: 0;
}

/* Links */
a{
  color: #2196F3;
}
a:focus,
a:hover {
  color: #FF5722;
}

/**
 * header
 */
.author{
  font-size: 16px;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid 4px #000000;
}
.author-word{
  margin-top: 10px;
}

.navbar{
  padding: 5px;
  background-color: #ffffff;
  border-top: solid 1px #DDDDDD;
  border-bottom: solid 1px #DDDDDD;
}
.nav-item{
  margin-right: 15px;
}
.navbar-toggler{
  height: 30px;
}
.navbar-toggler-icon{
  height: 100%;
}

/**
 * content
 */
.content{
  margin-top: 10px;
  margin-right: 20px;
}
/* article-card */
.article-card{
  background-color: #ffffff;
  margin: 10px 10px 10px 10px;
  border: solid 1px #DDDDDD;
}
.article-card-body a{
  color: #000000;
}
.card-subtitle{
  margin: 4px 0 4px 0;
  line-height: 1.2em;
}
.card-subtitle a{
  color: #868E96;
}
.article-card a:hover{
  color: #2196F3;
  text-decoration:none;
}
.flex-column-item{
  border-bottom: solid 1px #DDDDDD;
}
.button-detail{
  cursor: pointer;
  border-radius: 0;
  border: none;
}

/**
 * footer
 */
.footer{
  margin-top: 20px;
  padding: 10px 0 10px 0;
  color: #dddddd;
  background-color: #607D8B;
}
.footer p{
  margin: 5px;
}
.footer a{
  color: #d4d4d4;
  text-decoration: none;
}
.footer a:hover{
  color: #2196F3;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .button-detail{
    border-left: solid 1px #DDDDDD;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .author-word{
    padding: 20px 0 20px 0;
  }
  .article-img-card .article-card-body{
    padding-right: 5px;
    padding-left: 15px;
  }

  /**
   * sidebar
   */
  .right-sidebar{
    padding: 10px;
  }

  .sidebar, .widget{
    margin-bottom: 10px;
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-sidebar{
      position: -webkit-sticky;
      position: sticky;
      top: 60px;
      z-index: 1010;
    }
  }

  .widget{
    background-color: #ffffff;
    padding: 5px;
    border: solid 1px #DDDDDD;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .card-subtitle{
    line-height: 1.2em;
  }
  .article-img-card .article-card-body{
    padding-left: 0;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .card-subtitle{
    line-height: 1em;
  }
}
